<nav class="navbar navbar-expand-lg bg-light mb-3">
  <div class="navbar-nav">
    <a class="nav-item nav-link" href="/">Home</a>
    <a class="nav-item nav-link" href="<%= articles_path %>">Articles</a>
    <a class="nav-item nav-link" href="<%= content_tags_path %>">Content tags</a>
  </div>
</nav>
